* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #3485ff;
  --blue-hover: #5699ff;
  --light-blue: #e0ecff;
  --linear: linear-gradient(
    195.96deg,
    #5498ff -122.01%,
    #428eff -8.36%,
    #297fff 98.4%
  );
  --black: #0d114f;
  --white: #fafafa;

  --red: #e83f5b;
  --red-hover: #ea4b65;
  --bg: #fbfcff;
  --overlay: #040911;
  --icons: #a5b0c1;

  --grey: #4d5e77;
  --grey-hover: #8794a7;
  --grey-blue: #a1b2cd;
  --grey-medium: #d3d9e2;
  --grey-light: #e5eaf1;
}

html {
  font-size: 62.5%;

  body {
    height: 100vh;
    background-color: var(--bg);
    font-family: "Poppins", sans-serif;
    position: relative;
    overflow: hidden;

    .grid {
      display: grid;
    }
    a {
      text-decoration: none;
    }
    header {
      padding: 3.5rem 16rem;
      display: flex;
      justify-content: space-between;
      img {
        width: 16.7rem;
      }

      &.header-room {
        padding: 3.2rem 0;
        margin: 0;

        .container {
          width: 100%;
          margin: 0 16rem;
          display: flex;
          justify-content: space-between;
          .button-area {
            display: flex;
            gap: 0.8rem;
            button {
              min-width: 134px;
              padding: 11px 16px 11px 16px;
              img {
                width: 1.8rem;
              }
            }
          }
        }
      }
    }
    #bg {
      width: 50vw;
      max-width: 580px;
      height: 100vh;
      position: absolute;
      img {
        width: 100%;
      }
    }
    .balls {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      display: grid;
      justify-content: flex-end;
      .ball {
        clip-path: circle(50% at 50% 50%);
        background-color: var(--light-blue);
        position: absolute;
        &.top {
          width: 63.35rem;
          height: 63.35rem;
          right: -44rem;
          top: -385px;
        }

        &.bottom {
          width: 22.12rem;
          height: 22.12rem;
          right: 5.6rem;
          bottom: -14.8rem;
        }
      }
    }
    .button {
      width: 100%;
      height: 5rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 0.8rem;
      font-size: 1.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      cursor: pointer;

      &.btn-blue {
        background-color: var(--blue);
        color: white;
        border: none;
        transition: 0.4s background;
        &:hover {
          background-color: var(--blue-hover);
        }
      }
      &.btn-white {
        background-color: var(--white);
        color: var(--blue);
        border: 2px solid var(--blue);
      }
    }
    main {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: flex-end;
      .container {
        width: 100%;
        max-width: 36.3rem;
        margin-right: 24.6rem;
        gap: 4rem;
        .separator {
          display: flex;
          align-items: center;
          gap: 1.345rem;
          span {
            font-size: 1.6rem;
            color: var(--grey-blue);
          }
          .line {
            width: 100%;
            height: 2px;
            background-color: var(--light-blue);
          }
        }
        section {
          gap: 2.4rem;
          .title {
            font-size: 2.8rem;
            font-weight: 700;
            color: var(--black);
          }

          form {
            display: flex;
            flex-direction: column;
            gap: 1.8rem;
          }
          input {
            width: 100%;
            height: 4.8rem;
            border: 2px solid var(--grey-blue);
            border-radius: 0.8rem;
            color: var(--grey-blue);
            padding-left: 1.6rem;
            font-size: 1.6rem;
          }

          &.questionArea {
          }
        }
      }

      &.create-room {
        transform: translateY(60%);
      }
      &.main-room {
        justify-content: start;
        width: 100%;
        .container {
          margin: 0 16rem;
          max-width: none;
          width: 100%;
          display: flex;
          flex-direction: column;
          section {
            &.questionArea {
              font-size: 1.4rem;
              form {
                .question-box {
                  border: 2px solid var(--grey-blue);
                  border-radius: 0px 8px 8px 8px;
                  width: 100%;
                  min-height: 14rem;
                  color: var(--grey-blue);
                  textarea {
                    width: 100%;
                    min-height: 7rem;
                    border: none;
                    padding: 1.2rem 1.6rem;
                    outline: none;
                    font-size: 1.6rem;
                    font-family: "Open Sans", sans-serif;
                    color: var(--grey-blue);
                    &::placeholder {
                      color: var(--grey-blue);
                    }
                  }
                  .question-box-description {
                    display: flex;
                    width: 100%;
                    height: 30%;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 1.6rem;
                    span {
                      display: flex;
                      align-items: center;
                      gap: 0.6rem;
                      padding: 1.2rem 0;
                    }

                    .button {
                      width: 10rem;
                      height: 4rem;
                    }
                  }
                }
              }
            }
            &.notQuestion {
              align-self: center;
              text-align: center;
              max-width: 277px;
              img {
                width: 14.9rem;
              }
              h2 {
                padding: 1.3rem 0;
                font-size: 1.8rem;
                font-weight: 600;
              }
              p {
                font-size: 1.4rem;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1366px) {
  html {
    font-size: 55.5%;
  }

}
@media (min-width: 1367px) {
  main {
    top: 10vh;
  }
  html body #bg {
    max-width: 780px;
  }
  
}
@media (min-width: 960px) {
  html body main.main-room {
    top: 6vh;
  }
}

@media (max-width: 960px) {
  
  main {
    top: 5vh;
  }
  #bg {
    display: none;
  }
  html body main {
    justify-content: center;
  }
  html body main .container {
    margin-right: 0;
  }
  html body header.header-room .container {
    margin: 0px 10rem;
  }
  html body main.main-room .container {
    margin: 0 10rem;
  }
}

@media (max-width: 660px) {
  html {
    font-size: 45%;
  }

  html body header.header-room .container {
    margin: 0px 5rem;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  html body main.main-room .container {
    margin: 0 5rem;
  }
}

@media (max-width: 420px){ 
html body header.header-room .container {
    margin: 0px 0rem;
  }
}